body{
    background-image: url("./img/coffe.jpg");
    background-color: #cccccc; 
    height: auto; 
    background-position: center; 
    background-repeat: repeat; 
    background-size:contain;
    
}
.glass {
    max-width: 60%;
    height: auto;
}